
.slider:before {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    -o-background-size: 20px 20px;
    background-size: 20px 20px;
    background-position: 0px 0px, 10px 10px
}

.slider:before, .slider:after {
    content: "";
    z-index: -2
}

.slider:after {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -4px;
    right: -4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px inset, rgba(255, 255, 255, 0.1) 0 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px inset, rgba(255, 255, 255, 0.1) 0 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px inset, rgba(255, 255, 255, 0.1) 0 1px
}

.slider:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}


.slider {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
    position: relative;
    width: 381px;
    margin: 3px 5px 10px;
    position: relative;
    cursor: pointer;
    height: 20px;
    float: left;
    clear: left
}

.slider, .slider>div {
    width: 100%;
    height: 20px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(0, 0, 0, 0.4) 0 -1px 1px inset, rgba(0, 0, 0, 0.4) 0 1px 1px, #000 0 0 2px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(0, 0, 0, 0.4) 0 -1px 1px inset, rgba(0, 0, 0, 0.4) 0 1px 1px, #000 0 0 2px 1px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px inset, rgba(0, 0, 0, 0.4) 0 -1px 1px inset, rgba(0, 0, 0, 0.4) 0 1px 1px, #000 0 0 2px 1px
}

.slider>div {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px
}

.slider:after, .slider:before {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px
}

.slider:hover .handle {
    background-color: rgba(255, 255, 255, 0.1)
}

.handle {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    top: -1px;
    content: " ";
    width: 22px;
    height: 22px;
    z-index: 1;
    background-color: #ddd;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 15, color-stop(0%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0.2)));
    background-image: -webkit-radial-gradient(top center, circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) 15px);
    background-image: -moz-radial-gradient(top center, circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) 15px);
    background-image: -o-radial-gradient(top center, circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) 15px);
    background-image: radial-gradient(top center, circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) 15px);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
    -webkit-box-shadow: #fff 0px 1px 1px inset, rgba(0, 0, 0, 0.4) 0px -1px 1px inset, rgba(0, 0, 0, 0.4) 0px 1px 4px 0px, rgba(0, 0, 0, 0.6) 0 0 2px;
    -moz-box-shadow: #fff 0px 1px 1px inset, rgba(0, 0, 0, 0.4) 0px -1px 1px inset, rgba(0, 0, 0, 0.4) 0px 1px 4px 0px, rgba(0, 0, 0, 0.6) 0 0 2px;
    box-shadow: #fff 0px 1px 1px inset, rgba(0, 0, 0, 0.4) 0px -1px 1px inset, rgba(0, 0, 0, 0.4) 0px 1px 4px 0px, rgba(0, 0, 0, 0.6) 0 0 2px
}






@font-face {
    font-family: "AdelleBasic";
    src: url('/fonts/adellebasic_bold-webfont.ttf') format('truetype'), url('/fonts/adellebasic_bold-webfont.svg') format('svg'), url('/fonts/adellebasic_bold-webfont.woff') format('woff'), url('/fonts/adellebasic_bold-webfont.eot') format('embedded-opentype')
}

@font-face {
    font-family: "CaviarDreams";
    src: url('/fonts/caviardreams-webfont.ttf') format('truetype'), url('/fonts/caviardreams-webfont.svg') format('svg'), url('/fonts/caviardreams-webfont.woff') format('woff'), url('/fonts/caviardreams-webfont.eot') format('embedded-opentype')
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

canvas{
    margin:auto;
}

.container {
    text-align: center;
    position: absolute;
    width:250px;
    height: 150px;
    padding: 15px;
    user-select: none;
    -webkit-background-size: 80px 80px;
    -moz-background-size: 80px 80px;
    -o-background-size: 80px 80px;
    background-size: 80px 80px;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(25%, rgba(0, 0, 0, 0.1)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(75%, rgba(0, 0, 0, 0.1)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left top, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left top, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left top, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-image: linear-gradient(left top, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-color: #2a2a2a
}

body {
    background: none;
    padding: 0px 0px 40px;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

body>div, body>section, body>header {
    width: 570px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.heading-font, h1, h2, h3 {
    font-family: 'AdelleBasic', sans;
    font-weight: normal
}

.inset-box-shadow, pre, section {
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset
}

h1, h2, h3 {
    color: #eee;
    font-weight: normal
}

h3 {
    font-size: 1.6em;
    margin: .8em 0 1em
}

h2 {
    text-align: center;
    font-size: 2em;
    margin: .2em 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: .6em
}

h2+p {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 1.2em
}

h1 {
    text-align: center;
    font-size: 3.5em;
    margin: 0em 0 .1em;
    line-height: 1em;
    text-transform: uppercase;
    word-spacing: .05em;
    font-weight: bold
}

h1:focus {
    outline: 0
}

header p:first-child {
    font-style: normal;
    text-transform: uppercase;
    font-family: "CaviarDreams", sans;
    display: block;
    text-shadow: #000 1px 1px 0px;
    color: #eee;
    letter-spacing: .1em;
    margin: 1em 0 .3em;
    padding: 0;
    font-size: 1.25em
}

header p:first-child:before, header p:first-child:after {
    content: ' ';
    width: 4.5em;
    height: 1px;
    display: inline-block;
    border-bottom: 1px solid #888;
    position: relative;
    top: -0.35em;
    margin: 0 .5em
}

header p {
    font-size: .7em;
    text-shadow: #000 0 1px;
    font-family: "Caviar Dreams", sans;
    font-style: normal;
    display: block;
    margin: 0em 0 1.2em;
    color: #aaa;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .5em
}

header a {
    border-bottom: 0
}

a {
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    color: #eee;
    text-decoration: none
}

p {
    margin: 0;
    padding: 0 0 1.5em;
    line-height: 1.5em
}

#hslpicker {
    margin: 1em 0 2em
}

.frame {
    margin-bottom: 1.5em
}

code {
    font-size: 0.95em;
    font-family: menlo, monaco, 'andale mono', 'courier new', fixed;
    display: inline-block;
    background: rgba(0, 0, 0, 0.3);
    padding: 0 .4em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

pre {
    background: rgba(0, 0, 0, 0.3);
    padding: 1em;
    margin: 0 0 1.8em;
    width: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

pre code {
    background: none
}

.hide {
    display: none
}

section {
    color: #c6c6c6;
    font-size: .9em;
    line-height: 1.45em;
    margin-top: 1em;
    padding-top: 1em;
    text-align: left;
    overflow: hidden;
    margin-top: 2em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 2em 2.5em .5em;
    background: rgba(0, 0, 0, 0.2)
}

section p {
    font-family: "Lucida sans", Helvetica, Arial, sans
}

section strong {
    color: #ccc
}

section a.why {
    color: #444;
    text-shadow: #000 0 0 2px;
    text-transform: lowercase;
    display: block;
    width: 3.5em;
    margin: 0 auto;
    text-align: center;
    display: none
}

section h2, section h3 {
    text-shadow: rgba(0, 0, 0, 0.7) 0 2px 2px
}

footer {
    color: #555;
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
    font-size: 13px
}

footer p {
    padding-bottom: .5em
}

footer a {
    display: inline-block;
    color: #666;
    line-height: 1.1em;
    border-color: #555;
    position: relative;
    margin-left: .2em
}

footer a+a {
    margin-left: 1em
}

footer a+a:before {
    content: " ";
    display: block;
    position: absolute;
    left: -0.7em;
    top: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: rgba(255, 255, 255, 0.08) 1px 0 inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.08) 1px 0 inset;
    box-shadow: rgba(255, 255, 255, 0.08) 1px 0 inset;
    width: 1px;
    height: 1.3em
}

.url {
    display: inline-block;
    padding: 0 8px 2px;
    text-shadow: inherit;
    text-align: center;
    line-height: 2em;
    cursor: text;
    margin: 0;
    border: 0;
    width: 168px;
    color: #666;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none
}

.url:focus, .url:hover {
    background: rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 10px 0px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 10px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 10px 0px inset;
    color: #999
}